.logo {
    position: relative;
    width: 60px;
    height: 60px; 
    border: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logo::before {
    content: "";
    position: absolute;
    width: 125%;
    height: 2px;
    background-color: #fff;
    top: 64%;
    left: -14%;
    transform: translateY(-50%) rotate(-36deg);
}

.brand-name {
    font-size: 10px;
    padding-top: 5px;
}

.field-name {
    font-size: 11px;
}

@media screen and (max-width: 300px) {
    .logo {
        position: relative;
        width: 45px;
        height: 45px; 
    }
    .brand-name {
        font-size: 7px;
        
    }
    .field-name {
        font-size: 8px;
    }
}