.carousel {
    margin-top: 47px;
}

.space {
    margin-top: 2rem;
}
.welcome {
    text-align: center;
}
.welcome img {
    width: 100%;
    max-width: 45rem;
}

.home-item {
    margin-top: 3rem;
}

.home-item h1 {
    font-weight: 900;
}

.home-item h1 span {
    font-weight: 900;
    color: #00afec;
}

.underline {
    position: relative;
    text-align: center;
}

.underline img {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 230px; 
}


@media screen and (max-width: 767px) {
    .home-item {
        margin-top: 1rem;
    }

    .home-item h1 {
        margin-top: 10px;
    }

    .underline img {
        top: 27px;
        max-width: 150px; 
    }
}

